<%= simple_form_for @location do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :address, placeholder: 'Entrez une nouvelle destination' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bouton-create-location">
      <%= f.button :submit %>
    </div>
  </div> 
<% end %>

