<div class="row">
  <%= bootstrap_form_for (@location) do |f| %>
    <div class="col-md-10">
      <%= f.text_field :address, hide_label: true, placeholder: 'Entrez une nouvelle destination' %>
    </div>
    <div class="col-md-2">
      <%= f.submit "Créer votre destination", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
